/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { line-height: 1.5; min-height: 100vh }
/* Desktops */
@media (min-width: 768px) {
    section { padding: 4% 20% }
 }
 
 /* Mobiles */
 @media (max-width: 767px) {
    section { padding: 5% 5% }
 }
img { width: 100%; height: auto; display: block }
input, button, textarea, select { font: inherit }
body
{
    background-color: lightblue;
}

/* ====== PADDING AROUND WEB PAGE BODY CONTENT ======  */
section { padding: 4% 20% }
section *:last-child { margin-bottom: 0 !important }

h2 {
    font-size: 56px;
    margin-bottom: 4px;
    color: blue;

}

h3 {
    font-size: 32px;
    margin-bottom: 4px;
}

p {
    font-size: 20px;
    margin-bottom: 16px
}

a { color: blue; }

.section-1 {
    background-color: lemonchiffon;
}
.section-2 {
    background-color: lightpink;
}
.section-3 {
    background-color: lightgreen;
}
.section-4 {
    background-color: lightgray;
}
.section-5 {
    background-color: lightyellow;
}