/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { line-height: 1.5; min-height: 100vh }
/* Desktops */
@media (min-width: 768px) {
    body { padding: 4% 20% }
 }

 @font-face {
  font-family: myFirstFont;
  src: url("../fonts/starjedi/Starjedi.ttf");
}
 
 /* Mobiles */
 @media (max-width: 767px) {
    body { padding: 8% 5% }
    /*Delete the video*/
    .video-2{
        display: none;
    }
    

 }
img { width: 100%; height: auto; display: block }
input, button, textarea, select { font: inherit }

/* ================= ENDS ================ */

/* ====== PADDING AROUND WEB PAGE BODY CONTENT ======  */
body { padding: 0% 20% }

body {
    text-align: center;
    font-family: sans-serif;
    background-color: black;
}

h1 {
    font-size: 78px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    position: relative;
    font-weight: normal;
    letter-spacing: -2px;
    margin-bottom: 12px;
    line-height: 1.2;
}

h2 {
    font-size: 42px;
    letter-spacing: 6px;
    margin-bottom: 48px;
    line-height: 1.2;
}

h3 {
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
    text-transform: uppercase;
}

p {
    color: #d3d3d3;
    font-size: 20px;
    margin-bottom: 16px;
}
.video-1{
    width: 75%;
     background-color: #000;
    color: #fff;
}
a{
  color:#87CEEB;
}
a:visited {
  color: #1E90FF; /* Couleur du texte pour les liens visités */
}
/* ====== NAVIGATION BAR ====== */
.nav-horizontal {
    background-color: #fff;
    overflow: hidden;
    height: 3em;
    width: 100%;
    
    .mask {
      height: 5em;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    
    .list {
      display: inline-table;
      margin: 0 auto;
      max-width: 100%;
      
      li {
      display: table-cell;
      }
  
      a {
        display: block;
        padding: 0 1em;
        text-decoration: none;
        color: #333;
        height: 3em;
        line-height: 3;
        &:hover {
          border-bottom: 2px solid black;
          background-color: #f9f9f9;
        }
      }
    }
  }

.video-2 {
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  }

.container {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
  max-width: 80%; 

  }